nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 10px;
}
nav li:hover{
    background-color: lightgray;
}
nav a{
    text-decoration: none;
    font-size: 1.5rem;
}
nav li .dropdown{
    display: none;
    position: absolute;
    background-color: lightyellow;
    padding-left: 10px;
}
nav li:hover > .dropdown{
    display: block;
}